<template>
    <footer class="footer">
        <NuxtLink class="link-covoit" target="_blank" to="https://echosvoiturages.forumactif.com/">Lien du forum de covoiturage</NuxtLink>
        <p>L'association Dôme</p>
        
        <EkoDarkModeSwitch></EkoDarkModeSwitch>
    </footer>
</template>

<style lang="scss" scoped>

.link-covoit{   
    color: var(--color-1);
    font-size: 1.2rem;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
</style>