<script setup lang="ts">
import AppContainer from '@/components/eko/AppContainer.vue'
import EkoFooter from '@/components/eko/footer/EkoFooter.vue'
import EkoHeader from '@/components/eko/header/EkoHeader.vue';
import EkoEffectMouseLight from '@/components/eko/effect/EkoEffectMouseLight.vue';
</script>

<template>
  <EkoEffectMouseLight></EkoEffectMouseLight>
  
  <AppContainer>
    <EkoHeader>
    </EkoHeader>
    <NuxtPage />
    <EkoFooter></EkoFooter>
  </AppContainer>
</template>

<style>
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
</style>