<script setup lang="ts">
import EkoResaCircle from "@/components/eko/resa/EkoResaCircle.vue"
</script>

<template>
    <div class="resa-container">
        <div class="resa-button">
            <EkoResaCircle :rotate="true" :max-count="19" :max-count-rotate="9">
            </EkoResaCircle>
            <span class="resa-text">COMPLET</span>
        </div>
        <div class="resa-button-mobile">
            <EkoResaCircle :rotate="true" :small="true"  class="rotating" :max-count="8" :max-count-rotate="6">
            </EkoResaCircle>
            <span class="resa-text">COMPLET</span>
        </div>
    </div>
</template>

<style scoped lang="scss">
@import "@/assets/scss/variables.scss";
@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    animation: rotating 120s linear infinite;
}
.resa-container{
    display: flex;
    flex: 1;
    position: relative;
    justify-content: center;
    align-items: center;
}

.resa-button {
    position: absolute;
    padding: 2rem;
    box-sizing: content-box;
    background-color: var(--backgroud-color-1);
    font-size: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 60rem;
    height: 60rem;
}

.resa-text {
    color: var(--color-1);
    text-decoration: none;
    translate: 8px;
    user-select: none;
}

.resa-button-mobile {
    position: absolute;
    padding: 2rem;
    box-sizing: content-box;
    background-color: var(--backgroud-color-1);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width:30rem;
    height: 30rem;
}
@media (min-width: $breakpoint-s) {

    .resa-button {
        display: flex;
    }

    .resa-button-mobile{
        display: none;
    }
}


</style>
