<script setup lang="ts">
import EkoResaCircle from "@/components/eko/resa/EkoResaCircle.vue"
const { count, rotate, maxCount,maxCountRotate } = defineProps({
    rotate: {
        type: Boolean,
        default: false
    },
    count: {
        type: Number,
        default: 0
    },
    maxCount: {
        type: Number,
        default: 10
    },
    maxCountRotate: {
        type: Number,
        default: 4
    }
})

const isRotating = computed(()=> {
    return rotate && count < maxCountRotate
})

const isFirefox = computed(()=>{
    return navigator.userAgent.toLowerCase().includes('firefox');
})
</script>

<template>
    <div class="circle translate" :class="{ 'rotating': isRotating,'firefix': isFirefox}">
        <EkoResaCircle :rotate="rotate" v-if="count < maxCount" :count="count + 1" :maxCount="maxCount" :maxCountRotate="maxCountRotate"></EkoResaCircle>
    </div>
</template>


<style scoped lang="scss">
@import "@/assets/scss/variables.scss";

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    animation: rotating 120s linear infinite;
}

.translate {
    translate: 1.5rem;
}

.circle {
    overflow: hidden;
    position: absolute;
    border-color: var(--color-1);
    border-width: 2px;
    //background-color: rgb(17, 5, 150);
    //filter: hue-rotate(3deg) invert(0.01) saturate(1.1);
    //filter: drop-shadow(2px 4px 6px black);
    border-style: dashed;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    rotate: 90deg;
    scale: 0.8;
}

@media (min-width: $breakpoint-s) {

    .circle {
        scale: 0.88;
    }

}

.firefix{
    overflow: inherit;
}
</style>