<script setup lang="ts">
import EkoHeaderTitle from '@/components/eko/header/EkoHeaderTitle.vue';
import EkoHeaderLink from '@/components/eko/header/EkoHeaderLink.vue';
import EkoMenu from '@/components/eko/menu/EkoMenu.vue';
import EkoBurger from '@/assets/svg/menu_burger.svg?raw'

const isMenuOpen = ref(false)

const openMenu = () => {
    isMenuOpen.value = true;
}

const closeMenu = () => {
    isMenuOpen.value = false;
}
</script>

<template>
    <header class="header">
        <EkoHeaderTitle></EkoHeaderTitle>
        <div class="header-links">
            <EkoHeaderLink label="Accueil" link="/"></EkoHeaderLink>
            <EkoHeaderLink label="Résa" link="/infos-reservations"></EkoHeaderLink>
            <EkoHeaderLink label="Les Trompes" link="/trompes-du-fai"></EkoHeaderLink>
        </div>
        <div @click="openMenu" class="header-burger">
            <div v-html="EkoBurger"></div>
        </div>
        <EkoMenu @close="closeMenu" :show="isMenuOpen"></EkoMenu>
    </header>
</template>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header-links {
    display: none;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    gap: 4rem;
}


.header-burger {
    display: flex;
    justify-content: flex-end;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    cursor: pointer;
    align-items: center;
}

@media (min-width: $breakpoint-s) {
    .header-burger {

        font-size: 4rem;
    }
}

@media (min-width: $breakpoint-m) {

    .header-links {
        display: flex;
    }

    .header-burger {
        display: none;
    }
}
</style>