<template>
    <div class="header-title">
        <NuxtLink class="header-title-link" to="/">
            <h1 class="h1"><span class="h1-fl">E</span>chos 2024</h1>
        </NuxtLink>
    </div>
</template>

<style scoped lang="scss">
@import "@/assets/scss/variables.scss";

.header-title-link {
    text-decoration: none;
    color: var(--color-1);
}



.header-title {
    text-transform: uppercase;
    display: flex;
    flex: 1;
    cursor: pointer;
    font-size: 1.3rem;
}

.h1-fl {
    font-size: inherit;
}

@media (min-width: $breakpoint-m) {
    .header-title {
        font-size: 1.50rem;
    }
}
</style>