<template>
    <div class="date-echos">
        <span class="date-day">31 Mai - 02 Juin</span>
        <span class="date-year">2024</span>
    </div>
</template>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";

.date-echos {
    display: flex;
    justify-content: space-around;
    font-size: 1.7rem;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

@media (min-width: $breakpoint-s) {
    .date-echos {
        font-size: 2.5rem;
        gap: 1.5rem;
    }
}


@media (min-width: $breakpoint-m) {
    .date-echos {
        font-size: 3rem;
        gap: 2rem;
    }
}
</style>