<script setup lang="ts">
defineProps({ name: String, link: String, description: Array<String> })</script>

<template>
    <NuxtLink v-if="link !=''" external :to="link" class="artist" target="_blank">
        <div class="artist-name">{{ name }}</div>
        <div class="artist-description">{{ description?.join(" | ") }}</div>
    </NuxtLink>
    <div v-else class="artist artist-no-link" >
        <div class="artist-name">{{ name }}</div>
        <div class="artist-description">{{ description?.join(" | ") }}</div>
    </div>
</template>

<style lang="scss" scoped>
@import "@/assets/scss/variables.scss";


.artist {
    cursor: pointer;
    display: flex;
    min-height: 1.5rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px 0;
    border-style: solid;
    background-color: var(--backgroud-color-1);
    transition: transform 0.5s ease-out, border-color 0.5s ease-out;
    text-decoration: none;
    color: inherit;
}

.artist:hover {
    border-color: var(--color-1);
    // background-color: var(--backgroud-color-2);
    color: var(--color-3);
    transform: translateX(-10px);

}

.artist-name {
    margin: 0 1rem;
    font-size: 1.1rem;
    font-weight: 800;
    flex: 1;
}

.artist-no-link{
    cursor: inherit;
}

.artist-description {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-right: 0rem;
    text-transform: uppercase;
    flex-wrap: nowrap;
}

@media (min-width: $breakpoint-xs) {
    .artist-name {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .artist-description {

        font-size: 1.2rem;
        margin-right: 1rem;
    }
}

@media (min-width: $breakpoint-s) {
    .artist-name {
        font-size: 1.5rem;
    }

    .artist-description {

        font-size: 1.3rem;
        margin-right: 3rem;
    }
}

@media (min-width: $breakpoint-m) {
    .artist-name {
        font-size: 1.9rem;
    }

    .artist-description {

        font-size: 1.5rem;
        margin-right: 6rem;
    }
}
</style>