<script setup lang="ts">
import lineup from "@/assets/data/lineup.json"
import EkoLineupArtist from "@/components/eko/lineup/EkoLineupArtist.vue"
</script>

<template>
    <div class="linup-container">
        <div class="linup-list">
            <EkoLineupArtist :link="artist.link" :name="artist.name" :description="artist.description" v-for="artist, index in lineup" :key="index">
            </EkoLineupArtist>
        </div>
        <!-- <div class="linup-banner">
            <span class="lineup-banner-text">L I N E _ U P</span>
        </div> -->
    </div>
</template>

<style scoped lang="scss">
.linup-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2rem 0;
    max-width: 667px;
}

.linup-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    gap:0.8rem;
}

.linup-banner {
    background-color: white;
    color: black;
    position: relative;
    display: flex;
}

.lineup-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.lineup-banner-text {
    text-align: center;
    text-orientation: upright;
    writing-mode: vertical-lr;
    text-wrap: nowrap;
    font-size: 2.6rem;
    font-weight: 900;
    margin: 4rem 1rem;
}
</style>