<script lang="ts" setup>
import photo from "@/assets/photos/photo_brule2.png"
</script>

<template>
    <div class="title-img-container">
        <img class="title-img" :src="photo" alt="photo brulé">
    </div>
</template>

<style scoped>
.title-img-container{
  width: 100%;
}
.title-img{
  width: 100%;
}
</style>