<script lang="ts" setup>
import photo from "@/assets/photos/trompes_outline.png"
</script>

<template>
    <div class="title-img-container">
        <img class="title-img" :src="photo" alt="un dessin des trompes du Faï">
    </div>
</template>

<style scoped>
.title-img-container{
  width: 100%;
  /*max-width: 760px;*/
}
.title-img{
  width: 100%;
}
</style>