<script setup lang="ts">
import EkoLineupContainer from '@/components/eko/lineup/EkoLineupContainer.vue'
import EkoDateEvent from '@/components/eko/date/EkoDateEvent.vue'
import MainContainer from '~/components/eko/MainContainer.vue';
</script>

<template>
  <MainContainer>
    <!-- <EkoPhoto></EkoPhoto> -->
    <EkoDateEvent></EkoDateEvent>
    <!-- TODO: grand tiret  -->
    <p class="text-accueil-complet">
      Festival Complet
    </p>
    <p class="text-accueil-complet-description">
      Pas de vente de billet sur place <br>
      <span class="text-important">toutes les routes d'accès à la ferme du faï (on a tout essayé, vraiment) seront inaccessibles ce dimanche 2 Juin, jusqu'à 15h30. Départs à prevoir après cette heure ou la veille. Toutes nos excuses</span>
     
    </p>
    <p class="text-accueil-primary"> Échos — sixième édition. <br> 
      Cette année et au terme de deux semaines de résidence
      :
    </p>
    <!-- <p>Au Ferme du Faï,
      05400 LE SAIX</p> -->
    <EkoLineupContainer></EkoLineupContainer>
    <p class="text-accueil-secondary"> La vallée et les trompes tonneront.
      <br> Scènes cachées, colline sonore - un jour & deux soirs s'étireront entre les sentiers du Faï.
      <br><br> On y sera libres, serein•e•s - à mille lieux des trop habituels comportements foireux et oppressifs.
      <br><br> Prévoyez vos tentes, des habits chauds et des lampes, les nuits sont fraîches et noires.
    </p>
    <div class="separator"></div>
    <p class="text-accueil-tertiary">
      <br>
      Ferme du Faï<br>
      05400 LE SAIX<br><br>

      RDV le vendredi 31 mai 2024 à partir de 16h.<br>
      Prévoir un départ le dimanche 2 juin dans la matinée.<br><br>

      Pas de CB. Cantine et bar sur place.<br><br>


      Pas de parking sur place, se garer au parking de la salle des fêtes, avant de poursuivre à pied. Une montée de 45
      min - 1h vous attend.<br><br>

      Une navette sera mise en place pour monter vos affaires jusqu'au site.<br><br>


      Si la montée à pied peut être un frein ou un obstacle pour venir, contactez-nous, nous ferons en sorte que vous
      soyez parmi nous.<br><br><br>

      <a class="mail-link" href="mailto:contact@festivalechos.fr">contact@festivalechos.fr</a>
    </p>
  </MainContainer>
</template>

<style scoped lang="scss">
@import "@/assets/scss/variables.scss";

.text-important{
 text-transform: uppercase;
}

.text-accueil-complet {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.15rem;
}

.text-accueil-complet-description {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.text-accueil-primary {
  margin-top: 1.2rem;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 0.15rem;
}

.text-accueil-secondary {
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

.text-accueil-tertiary {
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 0rem;
}

.separator {
  width: 50%;
  height: 1px;
  background-color: var(--color-1);
  margin: 3rem 0 3rem 0;
}

@media (min-width: $breakpoint-s) {
  
  .text-accueil-complet {
    font-size: 2.2rem;
  }

  .text-accueil-complet-description {

    font-size: 1.4rem;
  }

  .text-accueil-primary {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
  }

  .text-accueil-secondary {
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
  }

  .text-accueil-tertiary {
    font-size: 1.3rem;
  }
}

@media (min-width: $breakpoint-m) {

  .text-accueil-complet {
    font-size: 2.8rem;
  }

  .text-accueil-complet-description {

    font-size: 1.6rem;
  }

  .text-accueil-primary {
    font-size: 1.5rem;
  }

  .text-accueil-secondary {
    font-size: 1.6rem;
  }

  .text-accueil-tertiary {
    font-size: 1.4rem;
  }
}

.mail-link {
  color: var(--color-1)
}
</style>