<script setup lang="ts">
import MainContainer from '@/components/eko/MainContainer.vue';
import EkoResaButton from '@/components/eko/resa/EkoResaButton.vue';
</script>

<template>
    <MainContainer class="resa-page">
        <EkoResaButton></EkoResaButton>
    </MainContainer>
</template>

<style scoped lang="scss">
.resa-page {
    //overflow: hidden;
    width: 100%;
}
</style>