<script setup lang="ts">
import MainContainer from '@/components/eko/MainContainer.vue';
import EkoTompesOutline from '@/components/eko/images/EkoTompesOutline.vue'
import logo_vdj from "@/assets/images/logo-vdj.png"
import logo_lmqc from "@/assets/images/logo-lmqc.png"

</script>

<template>
    <MainContainer>
        <div class="img_container">
            <EkoTompesOutline></EkoTompesOutline>
        </div>
        <section class="section-text-trompes">
            <p class="title-trompes">
                La Ferme du Faï
            </p>
            <p class="text-trompes">
                Échos se déroule autour de la ferme-gîte du Faï. C’est l’un des hameaux habités, animés et valorisés par
                l’association Villages des Jeunes.

            </p>
            <p class="text-trompes">
                C’est un lieu d’accueil alternatif et dynamique, rythmé par les chantiers internationaux de jeunes
                volontaires et les chantiers d’insertion, qui entretiennent et rénovent le patrimoine local.
            </p>
            <p class="text-trompes">
                Lieu d’éducation populaire et d’échange culturel, Le Faï nous accueille pendant les deux semaines de
                résidence.
            </p>
            <p class="text-trompes">
                Échos est aussi le fruit de cet accueil chaleureux et des liens tissés avec l’association Village des
                Jeunes
                au fil des années, des rencontres et des chantiers.
            </p>
            <p class="text-trompes">
                La ferme du Faï se situe sous une falaise de forme concave, qui encercle la vallée. Les sons s’y
                réverbèrent
                et semblent ainsi venir de toutes parts en multiples échos naturels.
            </p>
            <p class="text-trompes">
                Après avoir découvert les caractéristiques sonores du lieu, un groupe de passionné•e•s d’acoustique et
                d’habitant•e•s de la ferme et des environs crée les premières trompes dans les années 1990, en béton
                voilé
                et en bois.
            </p>
            <p class="text-trompes">
                Au nombre de trois, elles couvrent l’ensemble du spectre audible (grave, médium, aigu) avec des formes
                adaptées aux fréquences qu’elles diffusent et à la directivité du son.<br>
                En 2016, au lendemain d’une édition d’échos, est créée l’association La Montagne Qui Chante, une
                collaboration entre l’association Dôme, Village des Jeunes et des habitant•e•s de la vallée. La Montagne
                Qui
                Chante vise à entretenir les trompes et à encourager les expérimentations artistiques à partir de cet
                outil
                acoustique extraordinaire.
            </p>
            <p class="text-trompes">
                Au même moment démarre le projet de fabriquer de nouvelles trompes aigüe et médium pour remplacer les
                trompes en bois, usées par le temps et le climat.<br>
                Sur les plans de Michel Stievenart, concepteur des premières trompes, nous avons fait émerger deux
                nouveaux
                spécimens. Pour leur donner corps, il aura fallu plusieurs années de chantier, une belle énergie
                collective,
                l’aide précieuse de Village des Jeunes et de La Montagne qui Chante, ainsi que l’appui financier du PNR
                des
                Baronnies provençales.
            </p>
            <p class="text-trompes">
                Les Nouvelles trompes, en résine et formes complexes, ont été terminées à l'été 2021.
                Nous avons hâte de vous les faire entendre.
            </p>
        </section>
        <div class="logos-container">
            <img class="logo-vdj" width="220px" height="88px" :src="logo_vdj" alt="logo de l'association les villages des jeunes">
            <img class="logo-lmqc" width="145px" height="103px" :src="logo_lmqc" alt="logo de l'association la montagne qui chante">
        </div>
    </MainContainer>

</template>

<style scoped lang="scss">

@import "@/assets/scss/variables.scss";

.img_container {
    filter: hue-rotate(28deg) grayscale(25%);
    max-width: 300px;
}

.section-text-trompes {}

.title-trompes {
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.text-trompes {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;

}

.logos-container{
    display: flex;
    flex-grow: 0;
    gap: 5rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.logo-vdj{
    width: 110px;
    height: 44px;
}

.logo-lmqc{
    width: 90px;
    height: 52px;
}


[data-theme="dark"]  {
    .logo-lmqc{
        filter:invert(1.0);
    }
}
</style>